 <div class="jumbotron">
    <h1>Here Are All of My Favorite Gems!</h1>
    <p>They are the best.</p>
</div>

<div class="marge3">
  <ul>
  <% @gems_array.each do |gem| %>
    <li><%= gem %></li>
  <% end %>
  </ul>
</div>