 <div class="jumbotron">
    <h1>Stupid Gem Alert!</h1>
    <div class="subtitle">
      <p>That is a stupid gem. You should take a closer look at my favorite gems. They are the best.</p>
    </div>
</div>


  <div class="marge2">
  <p>Click <a href="/">here</a> to go back to the home page.</p>
  <p>Click <a href="/zen">here</a> to experience the zen of gem listing.</p>
  <p>Click <a href="/all">here</a> to see all of the gems I love.</p>
  </div>